name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install Buildozer
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-11-jdk zip unzip git
        pip3 install --upgrade pip
        pip3 install buildozer cython
        yes | sdkmanager --licenses


    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: kivyapp-apk
        path: bin/*.apk
